<nav class="navbar navbar-expand-lg navbar-light bg-light w-100" style="box-shadow: 20px 20px 10px black;">
    <a class="navbar-brand" href="/student"><img width="80" height="80" src="/img/logo.jpg" alt=""></a>



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">



            <a class="nav-item nav-link active" href="/student">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/student/trans">My Transanctions</a>
            <a class="nav-item nav-link" href="/student/mybooks">My Books</a>
            <a class="nav-item nav-link" href="/users/logout">Logout</a>


        </div>
    </div>
</nav>



<h1 class="mt-4 text-center font-weight-bold">My Transactions</h1>

<%- include("_messages") %>


<div class="container mt-20">

    <% reqs.forEach((r)=>{ %>
    <div class="card my-5" id="req-<%= r.id %>" style="box-shadow:10px 10px 5px black;" data-id="<%= r.id %>">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">-by <%= r.name %></h5>
            <h5 class="card-title font-weight-bold">-for <%= r.book %></h5>
            <h6 class="card-subtitle mb-2 text-muted">on <%= r.createdAt %></h6>
            
            <p id="status-<%= r.id %>" class="card-text text-center font-weight-bold font-italic"><%= r.status %></p>

            
            
            
        </div>
    </div>


    <% }) %>


</div>
<script src="../../script.js"></script>